.click{
    width: 200px;
    height: 200px;
    background: red;
}
#move{
    width: 200px;
    height: 200px;
    background: black;
}
#Dblclick{
    width: 200px;
    height: 200px;
    background: pink;
}
#scroll{
    width: 200px;
    height: 200px;
    background: purple;
}